<div class='sidebaritem' id='headshot'>
	<img class='img img-responsive' src='/img/me.jpg' width='350'/>
</div>

<div class='sidebaritem' id='contactinfo'>
	<!-- <div class='sidebarheader'>Contact Information</div> -->

	<div>
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		<a href='mailto:vikas_thamizharasan@brown.edu' style='text-decoration:none'>
		  <img src='/img/icons/email.svg' type='image/svg+xml'
		       width=32px style='vertical-align:middle'>
		</a>
		&nbsp;
		<a target='_blank' href='https://github.com/vikasTmz' style='text-decoration:none'>
		  <img src='/img/icons/github.svg' type='image/svg+xml'
		       width=36px style='vertical-align:middle'>
		</a>
		&nbsp;
 		<a target='_blank' href='resume/resume_vikas_thamizharasan.pdf' style='text-decoration:none'>
		  <img src='/img/icons/cv.png'
		       width=32px style='vertical-align:middle'>
		</a>
		&nbsp;
 		<a target='_blank' href='https://www.linkedin.com/in/vikas-thamizharasan/' style='text-decoration:none'>
		  <img src='/img/icons/linkedin.png'
		       width=32px style='vertical-align:middle'>
		</a>
		&nbsp;
	</div>
</div>